* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Reem Kufi Ink', sans-serif;
    background-color: black;
    color: white;
}

/* .navbar-toggler {
    position: absolute;
    top: 0;
    right: 100%;
} */

.bg-dark {
    background-color: black !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(36, 182, 230, 0.686);
}

.active {
    color: rgb(36, 182, 230) !important;
    font-weight: bold;
}

#main-image img {
    object-fit: cover;
    height: 60vh;
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
}

button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: white;
}

a:visited:hover {
    color: black;
}

#portfolio-grid {
    margin: 30px auto;
}

.col-md img {
    width: 80%;
    margin: 20px;
}